version: "1.0"
services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins-ci
    ports:
    - "8081:8080"
    volumes:
    - jenkins_home:/var/jenkins_home
    - /var/run/docker.sock:/var/run/docker.sock
  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube-ci
    ports:
    - "9000:9000"
    volumes:
    - sonar_data:/opt/sonarqube/data
volumes:
  jenkins_home:
  sonar_data: